<div class="flex justify-end items-center p-2">
  <button
    class="bg-cyan-400 text-white font-[Poppins] duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded"
    (click)="AddNewItem()"
  >
    Add new Item
  </button>
</div>
<div class="overflow-x-auto w-full">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>Row No.</th>
        <th>student Name</th>
        <th>Aquired Classes</th>
        <th>Email & Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <ng-container *ngFor="let student of Students; let i = index">
        <tr>
          <th>{{ student.RowNo }}.</th>
          <td>
            <div class="flex items-center space-x-3">
              <div>
                <div class="font-bold">{{ student.firstName }}</div>
                <div class="text-sm opacity-50">{{ student.lastName }}</div>
              </div>
            </div>
          </td>
          <td>
            {{ student.aquiredClasses }}
          </td>
          <td>
            {{ student.phoneNumber }} <br />
            <span class="badge badge-ghost badge-sm">{{
              student.emailAddress
            }}</span>
          </td>
          <th>
            <button
              class="btn btn-ghost btn-xs"
              (click)="onEdit(student.RowNo)"
            >
              edit
            </button>
          </th>
        </tr>
      </ng-container>
    </tbody>
    <!-- foot -->
    <tfoot>
      <tr>
        <th>Row No.</th>
        <th>student Name</th>
        <th>Aquired Classes</th>
        <th>Email & Phone</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
