  .background-picture {
    background-image: url("picture-2.jpg");
    width: 100%;
    height: auto;
  }

  html{
    height: 100%;
  }
  
  .centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }